einops==0.7.0
h5py==3.8.0
matplotlib==3.7.1
MedPy==0.4.0
monai==1.1.0
nibabel==5.2.0
numpy==1.24.3
opencv_python==4.7.0.72
Pillow==9.5.0
Pillow==9.4.0
Pillow==10.2.0
pycocotools==2.0.7
python_dateutil==2.8.2
pytorch_metric_learning==2.1.2
scikit_image==0.19.3
scipy==1.8.1
seaborn==0.13.2
SimpleITK==2.1.1.2
SimpleITK==2.3.1
tensorboardX==2.6
tensorboardX==2.6.2.2
timm==0.9.5
torch==2.0.0
torchvision==0.15.0
tqdm==4.64.0
